<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online calculator</title>
</head>
<body>
<form method="post">
    <label id="num1label">Number 1: </label><br/>
    <input type="number" id="num1" name="num1"/><br/>
    <label id="num2label">Number 2: </label><br/>
    <input type="number" id="num2" name="num2"/><br/>
    <label id="operation">Type of operation: </label><br />
    <input type="text" id="op" name="op" /><br />
    <input type="submit" value="Submit">
</form>
</body>
</html>
